<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personel_Kayit_Programi.Properties.Settings.KitapYeniConnectionString"
            connectionString="Data Source=Berkant-MacBook-Air;Initial Catalog=KitapYeni;Persist Security Info=True;User ID=sa;Password=S3cure!Data2025;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>